/* General styles */
.container {
  padding: 20px;
  background-color: #f9f9f9;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

.textField {
  margin-bottom: 10px;
}

.button {
  width: 100%;
}

.alert {
  margin-top: 10px;
}

.infoContainer {
  padding: 20px;
  margin-top: 20px;
}

/* Responsive design for mobile devices */
@media (max-width: 600px) {
  .MuiContainer-root {
    padding: 10px;
  }

  .MuiButton-root {
    width: 100%;
  }
}
